.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #101010;
}

.bardesktop {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 3vw;
  margin-top: 0;
}

.hamburgerdesktop {
  display: block;
  cursor: pointer;
}

.hamburgerdesktop.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburgerdesktop.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburgerdesktop.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

@media only screen and (max-width: 1024px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 7rem;
    flex-direction: column;

    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: +1;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .nav-logo {
    width: 80vw;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
